{% extends "body.html.twig" %}

{% block content %}

    {% include 'sections/banner.html.twig' %}

    {% include 'sections/interested.html.twig' %}

<!-- LISTINGS DETAILS TITLE SECTION -->
<section class="clearfix paddingAdjustBottom" id="listing-details">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="listingTitleArea">
					<h2>Moots 1 2019</h2>
					<p>Een nieuw land wacht op ontdekking....</p>
					<div class="listingReview">
						{# <ul class="list-inline rating">
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
						</ul> #}
						<span>( 0 Reviews )</span>
						<ul class="list-inline captionItem">
							<li><i class="fa fa-heart-o" aria-hidden="true"></i> </li>
						</ul>
						<a href="dashboard-reviews.html" class="btn btn-primary">Schrijf een review</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- LISTINGS DETAILS IMAGE SECTION -->
<section class="clearfix paddingAdjustTopBottom">
	<ul class="list-inline listingImage">
		<li><img src="/img/VA/Moots1.jpg" alt="Image Listing" class="img-responsive"></li>
		<li><img src="/img/VA/summoning_2019.jpg" alt="Image Listing" class="img-responsive"></li>
		<li><img src="/img/VA/Moots2.jpg" alt="Image Listing" class="img-responsive"></li>
		<li><img src="/img/VA/jaarlid.jpg" alt="Image Listing" class="img-responsive"></li>
	</ul>
</section>

<!-- LISTINGS DETAILS INFO SECTION -->
<section class="clearfix paddingAdjustTop">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				{# <div class="listSidebar">
					<h3>Organisatie</h3>
					<p>Vortex Adventures</p>
				</div> #}
				<div class="listSidebar">
					<h3>Locatie</h3>
					<div class="contactInfo">
						<ul class="list-unstyled list-address">
							<li>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								Scoutingterrein Sint Walrick <br> St. Walrickweg 11
								6611 KG Overasselt <br>
							</li>
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								024-622 15 57
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<a href="#">info@sintwalrick.nl</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="listSidebar">
					<h3>Tickets</h3>
					<ul class="list-unstyled sidebarList">
						<li>
							<span class="pull-left">Speler</span>
							<span class="pull-right">75 EUR
								<a class="btn btn-default btn-icon" href=""><i class="fas fa-cart-plus"></i></a>
							</span>
						</li>
						<li>
							<span class="pull-left">NPC</span>
							<span class="pull-right">35 EUR
								<a class="btn btn-default btn-icon" href=""><i class="fas fa-cart-plus"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="listDetailsInfo">
					<div class="detailsInfoBox">
						<h3>Over dit evenement</h3>
						<p>Beste Vortexianen.

							Tijdens de Moots 1, op 24, 25 en 26 mei, trekken wij op avontuur om een nieuwe wereld te gaan ontdekken. Welke arken zouden er zijn aangekomen? Zijn al onze factie leden heelhuids aangekomen? Hoe zou de inheemse bevolking ons verwelkomen en bovenal; kunnen wij in deze nieuwwe wereld een eigen plekje vinden? <br>
							<br><br>
							Iedereen zit vol spanning te wachten om deze wereld te gaan ontdekken, maar voor dat het zo ver is moet deze wereld wel eerst worden opgebouwd. We zoeken dan ook enthousiaste op- en afbouwers voor het komende evenement.
							Naast Op- en Afbouwers zoeken we ook toilethelden, night security en Parkeer wachten. Wat kan je verwachten? Als vrijwilliger kan je sowieso rekenen op een tof VA T-shirt.
							Als je op- en af-bouw doet, krijg je een gratis evenement, plus eten gedurende het op- en afbouw. Alle andere vrijwilligers krijgen naast een T-shirt, een mooie korting op het evenement.
							Dus kan jij niet wachten om te gaan spelen en heb jij zoveel energie dat je niet weet wat je er mee aan moet? Of wil jij al hypen en bier drinken voor het evenement begint? Meld je dan nu aan als vrijwilliger op- en/of af-bouwer, night security, toilet held of parkeerwacht.
							<br><br>
							Groetjes Jake (vrijwilligerscoördinator) en Anne (HRM)</p>
						</div>
					<div class="detailsInfoBox">
						<h3>Features</h3>
						<ul class="list-inline featuresItems">
							<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Epische verhalen</li>
							<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Grote gevechten</li>
							<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Filmische rituelen</li>
						</ul>
					</div>
					<div class="detailsInfoBox">
						<h3>Reviews (0)</h3>


					</div>
					<div class="detailsInfoBox">
						<h3>Write A Review </h3>
						<div class="listingReview">
							<span>( 0 Reviews )</span>
							{# <ul class="list-inline rating rating-review">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
							</ul> #}
						</div>
						<form action="#">
							<div class="formSection formSpace">
								<div class="form-group">
									<textarea class="form-control" rows="3" placeholder="Comment"></textarea>
								</div>
								<div class="form-group mb0">
									<button type="submit" class="btn btn-primary">Send Review</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
