<!-- ====================================
———	Comments
===================================== -->
<section class="py-7 py-md-10 bg-light" id="add-review">
          <h3 class="font-weight-normal mb-6"> Add Review </h3>
          <span class="star add-rating-default pl-0 mb-6"></span>
          <form>
            <div class="form-check form-check-inline mb-6 mr-lg-7">
              <input class="form-check-input mr-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                checked>
              <label class="form-check-label" for="inlineRadio1">
                <div class="media media-xs align-items-center">
                  <img src="assets/img/user/user-xs-3.jpg" class="mr-2 media-object rounded-circle" alt="Image User">
                  <div class="media-body">
                    <h5 class="media-heading mb-0">William</h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="form-check form-check-inline mb-6">
              <input class="form-check-input mr-2" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">
                <div class="media media-xs align-items-center">
                  <img src="assets/img/user/avatar-01.png" class="mr-2 media-object rounded-circle border" alt="Image User">
                  <div class="media-body">
                    <h5 class="media-heading mb-0">Anonymous</h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="form-group mb-6">
              <textarea class="form-control" rows="6" placeholder="Enter Your Comment"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary text-uppercase"> Send Review </button>
            </div>
          </form>

        </div>
</section>