<!-- Messages -->
<div class="card">
    <div class="card-header bg-white">
        <span class="text-content">My Characters</span>
    </div>
    <div class="card-body px-0">
        <ul class="list-unstyled mb-0">
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-xs-1.jpg" alt="Image">
                        <span class="status"></span>
                    </div>
                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Aaren</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">12 Jun</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-xs-2.jpg" alt="Image">
                        <span class="status active"></span>
                    </div>
                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Abby</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">25 July</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-xs-3.jpg" alt="Image">
                        <span class="status"></span>
                    </div>
                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Abriel</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">09 Feb</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-1.jpg" alt="Image">
                        <span class="status active"></span>
                    </div>

                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Emma</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">05 Jan</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-2.jpg" alt="Image">
                        <span class="status"></span>
                    </div>

                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Emily</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">17 Mar</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-3.jpg" alt="Image">
                        <span class="status"></span>
                    </div>

                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">William</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">27 May</span>

                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="assets/img/user/user-4.jpg" alt="Image">
                        <span class="status"></span>
                    </div>

                    <div class="media-body d-flex justify-content-between">
                        <div class="message-contents">
                            <h4 class="title">Sophia</h4>
                            <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque
                                doloremque odio,
                                eligendi delectus vitae.</p>
                        </div>

                        <span class="date">20 Jun</span>

                    </div>
                </a>
            </li>

        </ul>

    </div>
    <div class="card-footer bg-white">
        <a href="message-users.html" class="btn btn-link p-0">All messages</a>
    </div>
</div>
