<!-- ====================================
———	LISTING SINGLE HEADING
===================================== -->
<section class="py-7 pt-md-9 pb-md-8">
	<h3 class="font-weight-normal mb-6">About This Event</h3>
    <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error si voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

          <!-- Keynote speakers -->
          <div class="mb-6">
            <h4 class="font-weight-normal mb-4">Keynote speakers</h4>
            <div class="mb-4">
              <p class="mb-1 lead">David Smith</p>
              <p class="mb-1">Business Speaker, Investor, Author.</p>
            </div>
            <div class="mb-4">
              <p class="mb-1 lead">Maria Rodriguez</p>
              <p class="mb-1">Innovation Speaker, Business Professor.</p>
            </div>
            <div class="mb-4">
              <p class="mb-1 lead">Mary Smith</p>
              <p class="mb-1">Stanford Professor, Bestselling Author.</p>
            </div>
          </div>
</section>