
  
    
    <!-- ====================================
    ———	COUNTER UP
    ===================================== -->
    
    
    <div class="dzsparallaxer auto-init use-loading counter-paralax">
      <div class="divimage dzsparallaxer--target"  data-src="/img/background/bg-countdown.jpg"></div>
    
      <div class="container paralax-container">
        <div class="section-title">
          <h2 class="text-white"> Why Listty? </h2>
        </div>
        <div class="row" id="counter">
          <div class="col-sm-3 col-xs-12">
            <div class="counter-circle text-center text-white mb-7">
              <div class="counter-value" data-count="140">0</div>
              <span class="counter-label">Cities</span>
            </div>
          </div>
    
          <div class="col-sm-3 col-xs-12">
            <div class="counter-circle text-center text-white mb-7">
              <div class="counter-value" data-count="120">0</div>
              <span class="counter-label">Restaurants</span>
            </div>
          </div>
    
          <div class="col-sm-3 col-xs-12">
            <div class="counter-circle text-center text-white mb-7">
              <div class="counter-value" data-count="180">0</div>
              <span class="counter-label">Hotels</span>
            </div>
          </div>
    
          <div class="col-sm-3 col-xs-12">
            <div class="counter-circle text-center text-white mb-7">
              <div class="counter-value" data-count="220">0</div>
              <span class="counter-label">Retail Services</span>
            </div>
          </div>
        </div>
    
        <div class="text-center mt-md-7">
          <a href="#get-it-now" class="btn btn-outline-white"> Get it now </a>
        </div>
      </div>
    
    
    </div>