<!-- My Bookings -->
<div class="card">
    <div class="card-header bg-white">
        <span class="text-content">My Orders and Events</span>
    </div>

    <div class="card-body p-0 table-responsive">
        <table class="table mb-0" style="width:100%">
            <tbody>

            <tr>
                <td>
                    <img class="img-sm rounded" src="assets/img/listing/listing-8.jpg" alt="Image">
                </td>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-rental.html">Hotel Govendor</a>
                </td>
                <td class="text-capitalize"> Hotels</td>
                <td>
                    <span class="badge badge-warning px-2 py-1">Pending</span>
                </td>
            </tr>

            <tr>
                <td>
                    <img class="img-sm rounded" src="assets/img/listing/listing-04.jpg" alt="Image">
                </td>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">Tom's Restaurant</a>
                    <span class="text-capitalize d-block"></span>
                </td>
                <td class="text-capitalize">Eat & Drink</td>
                <td>
                    <span class="badge badge-success px-2 py-1">Approved</span>
                </td>
            </tr>

            <tr>
                <td>
                    <img class="img-sm rounded" src="assets/img/listing/listing-7.jpg" alt="Image">
                </td>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-event.html">Sticky Band</a>
                </td>
                <td class="text-capitalize">Events</td>
                <td>
                    <span class="badge badge-danger px-2 py-1">Canceled</span>
                </td>
            </tr>

            {% for userOrder in userOrders %}

                {% for orderItem in userOrder %}

                    <tr>
                        <td>
                            <img class="img-sm rounded" src="assets/img/listing/listing-7.jpg" alt="Image">
                        </td>
                        <td class="text-capitalize">
                            <a class="text-hover-primary text-muted" href="listing-event.html">{{ orderItem.name }}</a>
                        </td>
                        <td class="text-capitalize">Events</td>
                        <td>
                            <span class="badge badge-danger px-2 py-1">Canceled</span>
                        </td>
                    </tr>

                {% endfor %}

            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="card-footer bg-white">
        <a href="my-bookings.html" class="btn btn-link p-0">all bookings</a>
    </div>
</div>
