<!-- ====================================
———	Features
===================================== -->
<section class="py-7 py-md-10 bg-light
        <div class="my-6">
  				<h3 class="font-weight-normal mb-6">Features</h3>
  				<ul class="list-unstyled mb-6">
  					<li class="d-inline-block mr-4 mb-2">
            <i class="fa fa-wifi mr-2" aria-hidden="true"></i>Wi-Fi
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-cube mr-2" aria-hidden="true"></i>Reservations
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-filter mr-2" aria-hidden="true"></i>Air Filtration
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-hand-pointer-o mr-2" aria-hidden="true"></i>Braille Coded Exits
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>Business Center
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-glass mr-2" aria-hidden="true"></i>Free Coffee
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-car mr-2" aria-hidden="true"></i>Parking Available
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-percent mr-2" aria-hidden="true"></i>Discounted Parking
            </li>
  					<li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-users mr-2" aria-hidden="true"></i>Meeting Spaces
            </li>
            <li class="d-inline-block mr-4 mb-2">
              <i class="fa fa-times mr-2" aria-hidden="true"></i>No Pets Allowed
            </li>
  				</ul>
          <hr>
        </div>
</section>