
  <!-- ====================================
    ———	HOW IT WORK
    ===================================== -->
    <section class="pt-8 pb-6 pt-md-10 sec-pb-70">
    	<div class="container">
    		<div class="section-title">
    			<h2>How it Works?</h2>
    			<p>This are some of most popular listing</p>
    		</div>
    
    		<div class="row">
    			<div class="col-sm-4 col-xs-12">
    				<div class="card">
    					<div class="mt-8 mb-3">
    						<img class="mx-auto d-block" src="/img/works/works-1.png" alt="Image works">
    					</div>
    					<div class="card-body text-center pb-6">
    						<h3 class="h4">
    							<a class="mb-3 d-inline-block text-dark text-decoration-none" href="how-it-works.html">
    								Find what you want
    							</a>
    						</h3>
    						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua.</p>
    					</div>
    				</div>
    			</div>
    
    			<div class="col-sm-4 col-xs-12">
    				<div class="card">
    					<div class="mt-8 mb-3">
    						<img class="mx-auto d-block" src="/img/works/works-2.png" alt="Image works">
    					</div>
    					<div class="card-body text-center pb-6">
    						<h3 class="h4">
    							<a class="mb-3 d-inline-block text-dark text-decoration-none" href="how-it-works.html">
    								Review &amp; Plan your day
    							</a>
    						</h3>
    						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua.</p>
    					</div>
    				</div>
    			</div>
    
    			<div class="col-sm-4 col-xs-12">
    				<div class="card">
    					<div class="mt-8 mb-3">
    						<img class="mx-auto d-block" src="/img/works/works-3.png" alt="Image works">
    					</div>
    					<div class="card-body text-center pb-6">
    						<h3 class="h4">
    							<a class="mb-3 d-inline-block text-dark text-decoration-none" href="how-it-works.html">Explore Location</a>
    						</h3>
    						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    
    		<div class="text-center my-5">
    			<a data-fancybox href="https://vimeo.com/78415143" class="btn btn-primary">
            Watch it now <i class="fa fa-play-circle" aria-hidden="true"></i>
    			</a>
        </div>
    
    	</div>
    </section>