
 <!-- ====================================
    ———	INTERESTED
    ===================================== -->
    <section class="pt-md-10 sec-pb-70 pt-8 pb-6 bg-light">
    	<div class="container">
    		<div class="section-title">
    			<h2>What are You Interested in?</h2>
          <p>Explore and connect with great local businesses</p>
    		</div>
    		<div class="row">
    			<div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-tea-cup-1"></i>
                </div>
    						<span class="h5">Restaurant</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-building"></i>
                </div>
                <span class="h5">Hotels</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-martini"></i>
                </div>
                <span class="h5">Nightclubs</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-car-1"></i>
                </div>
                <span class="h5">Auto Motive</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-castle"></i>
                </div>
                <span class="h5">Museums</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-television"></i>
                </div>
                <span class="h5">Movie Theaters</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-mall-1"></i>
                </div>
                <span class="h5">Shopping</span>
              </div>
            </a>
    			</div>
    
          <div class="col-md-4 col-lg-3 col-xs-12">
            <a class="card py-5 hover-bg-primary bg-transparent" href="listings-half-screen-map-list.html">
              <div class="card-body text-center">
                <div class="icon-md">
                  <i class="icon-listy icon-more"></i>
                </div>
                <span class="h5">View All</span>
              </div>
            </a>
    			</div>
    		</div>
    	</div>
    </section>

 