<!-- ====================================
———	LOCATION SEARCH ONE
===================================== -->


<div class="py-7 py-md-0 bg-light">
  <div class="container position-relative px-md-0">
    <div class="search-box">
      <form method="GET" action="listings-half-screen-map-list.html">
        <div class="form-group mb-md-0">
          <input type="text" class="form-control" placeholder="Enter your keywords">
        </div>
        <div class="select-default">
          <select class="select-location">
            <option>All Location</option>
            <option>U.S.A</option>
            <option>U.K</option>
            <option>ASIA</option>
          </select>
        </div>
        <div class="select-default">
          <select class="select-location">
            <option>All Categories</option>
            <option>Restaurants</option>
            <option>Hotels</option>
            <option>Nightclubs</option>
            <option>Automotive</option>
            <option>Museums</option>
            <option>Movie Theaters</option>
            <option>Shopping</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </form>
    </div>
  </div>
</div>