<!-- Opening Hours -->
<div class="border rounded px-6 py-5 mb-5">
    <h3 class="mb-4 font-weight-normal">Opening Hours</h3>
    <ul class="list-unstyled mb-0">
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Monday</span>
            <span>08.00am - 05.00pm</span>
        </li>
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Tuesday</span>
            <span>08.00am - 05.00pm</span>
        </li>
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Wednesday</span>
            <span>08.00am - 05.00pm</span>
        </li>
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Thrusday</span>
            <span>08.00am - 05.00pm</span>
        </li>
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Friday</span>
            <span>08.00am - 05.00pm</span>
        </li>
        <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
            <span>Saturday</span>
            <span><a href="#">Closed</a></span>
        </li>
        <li class="d-flex justify-content-between mb-3">
            <span>Sunday</span>
            <span><a href="#">Closed</a></span>
        </li>
    </ul>
</div>
