<!-- ====================================
———	SING UP
===================================== -->
<section class="py-7 py-md-10 bg-light height100vh">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-xl-7">
        <div class="bg-white p-5 rounded border">
          <h2 class="font-weight-normal mb-4">Account Registration</h2>
          <p>Please fill out the fields below to create your account. We will send your account information to the email address
            you enter. Your email address and information will NOT be sold or shared with any 3rd party. If you already have an
            account, please,
            <a href="{{ path('app_user_login') }}">click here</a>.</p>

            <form class="py-7" action="{{ path('app_user_register') }}" method="post">

            <h3 class="h4 font-weight-normal mb-4">Contact Information</h3>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="inputtext">First Name*</label>
                <input type="text" class="form-control" id="givenName" name="givenName" placeholder="John">
              </div>
              <div class="form-group col-md-6">
                <label for="inputText">Last Name*</label>
                <input type="text" class="form-control" id="familyName" name="familyName" placeholder="Doe">
              </div>
            </div>
            <div class="form-group mb-8">
              <label for="inputAddress">Email Address*</label>
              <input type="email" class="form-control" id="username"  name="username" placeholder="">
            </div>

            <h3 class="h4 font-weight-normal mb-4 mt-7">Account Information</h3>
            <div class="row mb-6">
              <div class="form-group col-md-6 mb-4">
                <label for="inputPassword">Password*</label>
                <input type="password" class="form-control" id="password" placeholder="">
              </div>
              <div class="form-group col-md-6 mb-4">
                <label for="inputPassword">Password (re-type)*</label>
                <input type="password" class="form-control" id="password2" placeholder="">
              </div>
            </div>

			<!-- 
            <h3 class="h4 font-weight-normal mb-4 mt-7">Security Control</h3>
            <div class="form-group mb-7">
              <label for="usernames" class="control-label">
                Confirm that you are human*
              </label> <br>
              <img src="assets/img/business/recaptcha.jpg" alt="Image captcha" class="img-fluid">
            </div>
 			-->
 			
            <div class="form-group mb-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  I agree to the <a href="terms-of-services.html">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>.
                </label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary"> Create Account </button>

          </form>
          
        </div>
      </div>
    </div>
  </div>
</section>