<!-- My Reviews -->
<div class="card">
    <div class="card-header bg-white">
        <span class="text-content">My Reviews</span>
    </div>

    <div class="card-body p-0 table-responsive">
        <table class="table mb-0" style="width:100%">

            <tbody>
            <tr>
                <td class="text-capitalize td-title">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">The Missiisipi Hotel</a>
                </td>
                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Lorem ipsum dolor </td>
            </tr>

            <tr>
                <td class="text-capitalize ">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">think Coffee</a>
                </td>

                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>

                <td class="td-details">Quisquam, saepe sint! Aspernatur
                </td>
            </tr>

            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">Sticky Band</a>
                </td>

                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Neque amet, doloremque</td>

            </tr>

            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">Hotel Govendor</a>
                </td>
                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Iste tempore sint odio</td>
            </tr>

            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">John F. Kennedy Airport</a>
                </td>
                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Atque maxime quo nisi </td>
            </tr>

            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">Water Grill</a>
                </td>
                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Asaepe id quas voluptas vero.</td>
            </tr>

            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="listing-restuarant.html">The Missiisipi Hotel</a>
                </td>
                <td class="td-no-white-space">
                    <ul class="list-inline list-inline-rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </li>
                    </ul>
                </td>
                <td class="td-details">Iusto quos dolorem voluptatum</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-white">
        <a href="my-reviews.html" class="btn btn-link p-0">My Reviews</a>
    </div>
</div>
