<!-- ====================================
Test Dashboard
===================================== -->
<section class="bg-light py-10">
    <div class="m-5" >
        <div class="bg-white text-align-center" style="width: 100px; height: 50px; padding-top: 10px; border: 1px solid lightgray; border-bottom: 0; margin-top: -49px; margin-bottom: -1px; position: absolute; color: black; border-top-right-radius: 5px; border-top-left-radius: 5px ">
            <p> Events </p>
        </div>
        <div class="bg-white text-align-center" style="width: 100px; height: 50px; padding-top: 10px; border: 1px solid lightgray; border-bottom: 0; margin-top: -49px; margin-bottom: -1px; position: absolute; color: black; border-top-right-radius: 5px; border-top-left-radius: 5px; margin-left: 100px; background: gray ">
            <p> Profile </p>
        </div>
        <div class="bg-white" style="width: auto; border: 1px solid lightgray; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px;  ">
            <p></p>
        </div>

    </div>

</section>
