{% extends 'body.html.twig' %}

    {% block content %}

        <div class="wrapper">
            <div class="container" style="height: 100%">
                <div class="row">

                    <h2 style="width: 100%" class="d-block m-5 text-align-center">Betaling Geslaagd</h2>

                    <div class="text-align-center col-12 p-6 border bg-white">

                        <div class="row">

                            <div class="col-12">
                                <h4 class="h3 mb-6">Uw betaling is geslaagd.</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


