{% extends 'body.html.twig' %}

    {% block content %}

        <div class="wrapper">
            <div class="container" style="height: 100%">
                <div class="row">

                    <h2 style="width: 100% !important;" class="d-block m-5">Producten</h2>

                    {% include 'widgets/new/products.html.twig' %}

                </div>
            </div>
        </div>

    {% endblock %}


