{% extends 'body.html.twig' %}

    {% block content %}

        <div class="wrapper">
            <div class="container" style="height: 100%">
                <div class="row">

                    <div class="col-md-8 py-auto">
                        <h2 style="height: 40px" class="m-5">Producten</h2>
                    </div>

                    <div class="col-md-4">
                        <a href="" class="order-button py-auto">
                            <h2 style="height: 40px" class="m-5 float-right">Afrekenen</h2>
                        </a>
                    </div>

                    {% include 'widgets/new/products.html.twig' %}

                </div>
            </div>
        </div>

    {% endblock %}


