 <!-- Reviews -->
                <div class="my-6">
                    <h3 class="font-weight-normal mb-6">Reviews (3)</h3>
                    <div class="media mb-3">
                        <div class="media-img">
                            <img src="assets/img/user/user-xs-1.jpg" class="mr-3 media-object rounded-circle" alt="Image User">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Aaren</h5>
                            <ul class="list-inline list-inline-rating">
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape
                                riam,</p>

                            <!-- Reply Section -->
                            <div class="reply-wrapper">
                                <a class="d-inline-block mb-2 btn-reply" href="javascript:0">Reply</a>
                                <form class="form-reply my-3">
                                    <textarea class="form-control mb-6" rows="3" placeholder="Enter your comment"></textarea>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="media mb-3">
                        <div class="media-img">
                            <img src="assets/img/user/user-xs-2.jpg" class="mr-3 media-object rounded-circle" alt="Image User">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Abby</h5>
                            <ul class="list-inline list-inline-rating">
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda totam rem ape riam,
                            </p>

                            <p class="bg-light p-4 rounded">Nam illo asperiores architecto fuga corrupti. Voluptates, assumenda. Repellendus,
                                dicta voluptatum. Voluptatibus eos voluptatum, consequuntur rerum voluptas reiciendis et quo deleniti illum
                                nihil</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <div class="media-img">
                            <img src="assets/img/user/user-xs-3.jpg" class="mr-3 media-object rounded-circle" alt="Image User">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Abriel</h5>
                            <ul class="list-inline list-inline-rating">
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape
                                riam,</p>

                            <p class="bg-light p-4 rounded">Nam illo asperiores architecto fuga corrupti. Voluptates, assumenda. Repellendus,
                                dicta
                                voluptatum. Voluptatibus eos voluptatum, consequuntur rerum voluptas reiciendis et quo deleniti illum nihil</p>

                        </div>
                    </div>

                    <hr>
                </div>