<!-- ====================================
———	Comments
===================================== -->
<section class="border rounded p-6 mb-5">
          <form>
            <div class="input-group">
              <input type="text" class="form-control border-right-0" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text bg-transparent px-3"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
            </div>
          </form>
</section>