{% extends 'body_landing.html.twig' %}

    {% block content %}

        <div class="wrapper">
            <div class="container" style="height: 100%">
                <div class="row">

                    <div class="text-align-center border rounded col-md-6 mx-auto mt-5 p-6 border bg-white">

                        <div class="row">

                            <div class="col-12">

                                {% if invoice.paid == true  %}

                                    <h2 class="h3 mb-6">Uw betaling is geslaagd.</h2>
                                    <p>Keer terug naar <a href="https://www.the-vortex.nl">vortex</a>. </p>
                                    <br>
                                    <p><b>of</b></p>
                                    <br>
                                    <p>Keer terug naar het <a href="{{ path('app_landingpage_index') }}">producten
                                            overzicht</a>.</p>

                                {% endif %}

                                {% if invoice.paid == false  %}

                                    <h2 class="h3 mb-6">Uw betaling is gefaald.</h2>
                                    <p>U kunt het <a href="{{ invoice.paymentUrl }}">hier</a> opnieuw proberen. </p>
                                    <br>
                                    <p><b>of</b></p>
                                    <br>
                                    <p>Keer terug naar het <a href="{{ path('app_landingpage_index') }}">producten
                                            overzicht</a>.</p>

                                {% endif %}

                            </div><!-- ./col -->
                        </div><!-- ./row -->
                    </div><!-- ./col -->
                </div><!-- ./row -->
            </div><!-- ./container -->
        </div><!-- ./wrapper -->

    {% endblock %}


