{% extends 'body_landing.html.twig' %}

    {% block content %}

        <div class="wrapper">

            <div class="container" style="height: 100%">

                <!-- ====================================
        ———	breadcrumb
        ===================================== -->
                <section class="bg-light py-8">
                    <div class="container">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <nav aria-label="breadcrumb">
                                <h2 class="breadcrumb-title text-center mb-4">Terms of Services</h2>
                                <ul class="breadcrumb bg-transparent justify-content-center p-0 m-0">
                                    <li class="breadcrumb-item"><a href="{{ path('app_landingpage_betalen') }}">Terug</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>

                <!-- Grid wrapper for ell elements -->
                <div class="element-wrapper">


                    <!-- ====================================
                    ———	TERMS OF SERVICES
                    ===================================== -->
                    <section class="py-7 py-md-10">
                        <div class="container">

                            <p class="mb-7">To advertise your business please ensure that you read and abide by the
                                following terms and conditions.</p>
                            <hr>

                            <div class="py-6">
                                <h3 class="h4">Fair use of site</h3>
                                <p class="mb-0">-</p>
                            </div>
                            <hr>

                            <div class="py-6">
                                <h3 class="h4">Business Deletion</h3>
                                <p class="mb-0">-</p>
                            </div>
                            <hr>

                            <div class="py-6">
                                <h3 class="h4">Security And Privacy</h3>
                                <p class="mb-0">-</p>
                            </div>
                            <hr>

                            <div class="py-6">
                                <h3 class="h4">Governing Law</h3>
                                <p class="mb-0">-</p>
                            </div>
                            <hr>

                            <div class="py-6">
                                <h3 class="h4">Contact Us</h3>
                                <p class="mb-0">-</p>
                            </div>
                        </div>
                    </section>


                </div> <!-- element wrapper ends -->
            </div>
        </div>

    {% endblock %}


