{% extends "body.html.twig" %}

{% block content %}

    {% set item = organization %}

    <section class="py-7 py-md-10">
        <div class="container">
            <div class="row">

                {% include('sections/list-broad-items.html.twig') %}

                {% include('sections/small-search-filter.html.twig') %}

                {% include('sections/pagination.html.twig') %}

            </div>
        </div>
    </section>

{% endblock %}
