{% extends "body.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-9">

            {% include('sections/list-broad-items.html.twig') %}

        </div>
        <div class="col-md-3">

            {% include('sections/small-search-filter.html.twig') %}

        </div>
    </div>

    {% include('sections/pagination.html.twig') %}


{% endblock %}
